# TFLint generated reports
tflint-results.json
tflint-summary.md
tflint-summary.html
tflint-error.log

# Checkov generated reports
checkov-results.log

# Terraform generated plan files
tfplan
tfplan.json

# Terraform logs
terraform-init.log
terraform-fmt.log
terraform-validate.log
terraform-plan.log

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*